.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
hs_err_pid*.log
java_pid*.hprof
.env
.env.*
!.env.example
**/bin/
**/obj/
**/node_modules/
**/dist/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/coverage/
**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/
